.cursor {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  border: 2px solid var(--neon);
  border-radius: 50%;
  backface-visibility: hidden;
  transition: transform 0.3s ease-out;
  animation: mouseglow 3s infinite alternate, trail 3s ease-out infinite;
  pointer-events: none;
  backdrop-filter: grayscale(100%);
}

@keyframes mouseglow {
  0% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  }
}

@keyframes trail {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.cursor.is-moving {
  transform: scale(0.4) rotate(-45deg);
  animation: none;
  background: var(--neon);
  clip-path: polygon(50% 0%, 100% 100%, 50% 50%, 0 100%);
}
