/* VolumeControl.css or in your existing CSS file */
.volume-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, var(--neon) 0%, var(--neon) 100%);
  border-radius: 4px;
  outline: none;
  margin-top: 8px;
  margin-bottom: 8px;
  transition: background 0.3s ease-in-out;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--neon);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.volume-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--neon);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.music-marker::marker
{
  content: '🎶';
}