$background: white;
$outline-color: var(--neon);
$face-color: var(--neon);
$tongue-color: #f9bbbb;
$inner-bg: #ffffff1e;
$scale-factor: 1;

.cute-robot-v1 {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;

    .circle-bg {
        background: $inner-bg;
        width: 50px * $scale-factor;
        height: 50px * $scale-factor;
        border-radius: 100%;
        border: 1.6px solid $outline-color;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            z-index: 2;
            height: 100%;
            width: 100%;
            top: -0.3px;
            left: 0;
            border-radius: 100%;
            border-bottom: 2px solid $outline-color;
        }

        &:hover {
            .robot-face {
                top: 8px !important;
            }

            .eyes {
                top: 6px !important;
            }

            .mouth {
                background: $outline-color;
                border: none;
                clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);

                &:after {
                    content: "";
                    position: absolute;
                    height: 16px * $scale-factor;
                    width: 16px * $scale-factor;
                    bottom: -6px * $scale-factor;
                    left: 50%;
                    transform: translateX(-50%);
                    background: $tongue-color;
                    border-radius: 100%;
                }
            }
        }

        .robot-head {
            height: 40px * $scale-factor;
            width: 40px * $scale-factor;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -4px * $scale-factor;
            border: 1.6px solid $outline-color;
            border-radius: 17px * $scale-factor / 12px * $scale-factor;
            background: $background;
            z-index: 4;

            &:after {
                content: "";
                position: absolute;
                top: -6px * $scale-factor;
                height: 6px * $scale-factor;
                width: 2px * $scale-factor;
                left: 50%;
                transform: translateX(-50%);
                background: $outline-color;
            }

            &:before {
                content: "";
                position: absolute;
                top: -12px * $scale-factor;
                left: 50%;
                transform: translateX(-50%);
                height: 4px * $scale-factor;
                width: 4px * $scale-factor;
                background: $inner-bg;
                border: 1.6px solid $outline-color;
                border-radius: 100%;
            }

            .robot-face {
                height: 24px * $scale-factor;
                width: 32px * $scale-factor;
                background: $inner-bg;
                position: absolute;
                top: 9.6px * $scale-factor;
                left: 50%;
                transform: translateX(-50%);
                border: 1.6px solid $outline-color;
                transition: all 40ms;
                border-radius: 9.6px * $scale-factor;

                .eyes {
                    height: 4px * $scale-factor;
                    width: 4px * $scale-factor;
                    background: $outline-color;
                    border-radius: 100%;
                    position: absolute;
                    transition: all 40ms;
                    top: 7.2px * $scale-factor;

                    &.left {
                        left: 4.8px * $scale-factor;
                    }
                    &.right {
                        right: 4.8px * $scale-factor;
                    }
                }

                .mouth {
                    height: 9px * $scale-factor;
                    width: 9px * $scale-factor;
                    border-radius: 100%;
                    border: 1.6px solid transparent;
                    border-bottom-color: $outline-color;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 10px * $scale-factor;
                    overflow: hidden;
                }
            }
        }

        .robot-ear {
            position: absolute;
            height: 20px * $scale-factor;
            width: 20px * $scale-factor;
            border-radius: 100%;
            background: $background;
            border: 1.6px solid $outline-color;
            z-index: 3;
            top: 6px * $scale-factor;

            &.left {
                left: -3.2px * $scale-factor;
            }
            &.right {
                right: -3.2px * $scale-factor;
            }
        }

        .robot-body {
            height: 10px * $scale-factor;
            width: 20px * $scale-factor;
            border: 1.6px solid $outline-color;
            background: $background;
            position: absolute;
            bottom: -1px * $scale-factor;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 5px * $scale-factor 5px * $scale-factor 6px * $scale-factor 6px * $scale-factor;
        }
    }
}
